/*------------------------------------
    $RESET
 ------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: none; }

html {
  font-family: sans-serif;
  text-size-adjust: 100%; }

/*------------------------------------
    $BASE
 ------------------------------------*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  max-width: 96%;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%; }

html {
  font-size: 100%;
  text-size-adjust: 100%; }

body {
  margin: 0;
  color: #616161;
  font-family: "Open Sans", sans-serif;
  font-size: inherit;
  line-height: 1.5; }

section {
  display: flex; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem;
  color: #E91E63;
  font-family: "raleway", sans-serif;
  font-weight: 400; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.75rem; }

h5 {
  font-size: 1.5rem; }

h6 {
  font-size: 1.25rem; }

small {
  font-size: .85rem; }

ul li {
  list-style: none; }

ol li {
  list-style: none; }

strong,
b {
  font-weight: bold; }

em,
i {
  font-style: italic; }

p {
  margin-bottom: 1rem; }

img,
object,
embed {
  max-width: 100%;
  height: auto; }

blockquote {
  margin: 0 0 1.250rem 1.250rem;
  padding: .625rem 1.250rem 1.250rem;
  background: #930e3b;
  color: #fff;
  font-size: 1.1rem;
  font-style: italic; }
  blockquote p:last-child {
    margin-bottom: 0; }

a {
  color: #8BC34A;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    color: #577d2a; }
  a:focus, a:active {
    outline: none; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #E91E63; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  max-width: 96%;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

/*------------------------------------
    $LAYOUT
  ------------------------------------*/
.header {
  min-height: 500px;
  max-height: 900px;
  background: url("../img/header.png") no-repeat center center;
  background-size: cover; }
  @media (min-width: 50em) {
    .header {
      height: 100%; } }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: center; }
  .header .content, .header .features .content--green, .features .header .content--green {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .header__title {
    margin-bottom: 0;
    color: #fff;
    font-weight: 900;
    line-height: 120px;
    letter-spacing: .2rem;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    text-shadow: 0.5px 0.5px #8BC34A, 1px 1px #8BC34A, 1.5px 1.5px #8BC34A, 2px 2px #8BC34A, 2.5px 2.5px #8BC34A, 3px 3px #8BC34A, 3.5px 3.5px #8BC34A, 4px 4px #8BC34A, 4.5px 4.5px #8BC34A, 5px 5px #8BC34A, 5.5px 5.5px #8BC34A, 6px 6px #8BC34A, 6.5px 6.5px #8BC34A, 7px 7px #8BC34A;
    text-transform: uppercase;
    z-index: 1; }
    @media (min-width: 50em) {
      .header__title {
        font-size: 6.5rem; } }
  .header__subtitle {
    margin-bottom: 0;
    color: #8BC34A;
    font-weight: 100;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    z-index: 1; }
    @media (min-width: 50em) {
      .header__subtitle {
        font-size: 2.25rem; } }

.activities {
  padding-top: 100px;
  background-color: #8BC34A; }
  .activities .container {
    max-width: 80%; }
    @media (min-width: 90em) {
      .activities .container {
        max-width: 60%; } }
  .activities .img-wrapper {
    width: 66.6666666667%;
    float: left;
    padding-left: 3.125%;
    padding-right: 3.125%;
    height: 100%;
    padding: 0; }
  .activities .content, .activities .features .content--green, .features .activities .content--green {
    width: 33.3333333333%;
    float: left;
    padding-left: 3.125%;
    padding-right: 3.125%;
    text-align: center; }

.activity-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 480px;
  background-color: #fff;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
  overflow: hidden; }
  .activity-card__img {
    width: 100%;
    height: 100%; }
  .activity-card__header {
    color: #8BC34A;
    text-transform: uppercase; }
  .activity-card__subheader {
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase; }

.features {
  padding-bottom: 100px;
  background-color: #E91E63; }
  .features > .container {
    max-width: 80%;
    display: flex; }
    @media (min-width: 90em) {
      .features > .container {
        max-width: 60%; } }
  .features .img-wrapper {
    width: 100%;
    float: left;
    padding-left: 3.125%;
    padding-right: 3.125%;
    height: 60%;
    padding: 0; }
  .features .content, .features .content--green {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;
    width: 100%;
    float: left;
    padding-left: 3.125%;
    padding-right: 3.125%; }
    .features .content--green {
      background-color: #8BC34A;
      color: #fff; }
      .features .content--green .feature-card__header {
        color: #fff; }

.feature-card, .feature-card--small {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 65%;
  height: 720px;
  background-color: #fff;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
  overflow: hidden; }
  .feature-card--small {
    width: 35%; }
  .feature-card__img {
    width: 100%;
    height: 100%; }
  .feature-card__header {
    color: #8BC34A;
    text-transform: uppercase; }
  .feature-card__subheader {
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase; }

.banner {
  height: 100%;
  min-height: 500px;
  max-height: 900px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/banner.jpg") no-repeat center center;
  background-size: cover; }
  .banner .container {
    display: flex;
    align-items: center;
    justify-content: center; }
  .banner .content, .banner .features .content--green, .features .banner .content--green {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .banner__title {
    margin-bottom: 0;
    color: #fff;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    z-index: 1; }
  .banner__subtitle {
    margin-bottom: 0;
    color: #fff;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    z-index: 1; }

.footer {
  padding: 50px 0;
  background-color: #212121;
  text-align: center; }
  .footer p {
    color: #949494;
    font-size: .85rem;
    font-weight: 400; }
  .footer a {
    color: #949494;
    font-weight: 600;
    text-decoration: none; }
    .footer a:hover {
      color: #616161; }
  .footer .fa-heart {
    color: #D32F2F; }

.social-icons {
  display: block;
  margin-bottom: 1rem; }
  .social-icons li {
    display: inline-block;
    position: relative;
    margin-right: 2px; }
    .social-icons li a {
      display: block;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      background-color: #474747;
      color: #fff;
      line-height: 38px;
      text-align: center; }
      .social-icons li a:hover {
        color: #fff; }
    .social-icons li:nth-of-type(1) a:hover {
      background-color: #3b5998; }
    .social-icons li:nth-of-type(2) a:hover {
      background-color: #55acee; }
    .social-icons li:nth-of-type(3) a:hover {
      background-color: #cd201f; }
    .social-icons li:nth-of-type(4) a:hover {
      background-color: #675144; }
