// utils/variables.scss
// ----------------------------------------------------------------------------


// colors
$c-white:				     #fff;
$c-white-darker:     #efefef;
$c-gray:				     #6f6f6f;
$c-gray-darker:		   #4e5056;
$c-gray-darkest:     #323335;
$c-black:				     #000;
$c-shadow:					 rgba(0, 0, 0, .4);

$c-primary:        		#f01662;
$c-secondary: 	      #26e06e;

$c-facebook:         #3b5998;
$c-twitter:          #55acee;
$c-youtube:          #cd201f;


// fonts
$f-stack:            ('Open Sans', sans-serif);
$f-stack-alt:        ('Montserrat', sans-serif);


// breakpoints
$bp-small:           40em;   // 640px
$bp-medium:          50em;   // 800px
$bp-large:           64em;   // 1024px
$bp-xlarge:          90em;   // 1440px
