// base/typography.scss
// ----------------------------------------------------------------------------

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

html {
	font-size: 100%;
}

body {
	background-color: $c-white;
	color: $c-gray;
	font-family: $f-stack;
	font-size: inherit;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
p,
blockquote {
	margin-top: 0;
	margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6, {
	color: $c-gray-darkest;
	font-family: $f-stack-alt;
	font-weight: 600;
	text-transform: uppercase;

}

p {
	color: $c-gray;
}
