
.charities {

	&-title {
		font-size: 2.25rem;
		font-weight: 700;
		text-transform: uppercase;

		@include media (lg) {
			font-size: 1.75rem;
		};
	}

	&-subtitle {
		margin: 0 0 2em;
		color: $c-gray-darker;
		font-size: 1.25rem;
		font-weight: 700;
		letter-spacing: .1em;
		text-transform: uppercase;
		opacity: .5;

		@include media (lg) {
			font-size: 1rem;
		};
	}

	.container {
		padding: 3.125em 0;
		text-align: center;

		@include media (lg) {
			display: flex;
			justify-content: space-around;

			text-align: left;
		};

		.row {
			width: 100%;
			padding: 0 2em;
		}
	}

	img {
		display: block;
		max-width: 400px;
		max-height: 350px;
		margin: 0 auto;
	}
}
