// Footer
// ----------------------------------------------

.footer {
	padding: 3.125em 0;
	background-color: $c-footer-bg;
	text-align: center;

	p {
		color: $c-footer-text;
		font-size: .85rem;
		font-weight: 400;
	}

	a {
		color: $c-footer-text;
		font-weight: 600;
		text-decoration: none;

		&:hover {
			color: $c-gray-darker;
		}
	}
}

.fa-heart {
	color: $c-footer-heart;
}

.social-icons {
	margin-bottom: 1em;
	padding: 0;

	li {
		display: inline-block;
		margin-right: .25em;

		&:last-child {
			margin-right: 0;
		}

		&:nth-of-type(1) a:hover {
			background-color: $c-facebook;
		}

		&:nth-of-type(2) a:hover {
			background-color: $c-twitter;
		}

		&:nth-of-type(3) a:hover {
			background-color: $c-youtube;
		}

		&:nth-of-type(4) a:hover {
			background-color: $c-instagram;
		}

		a {
			display: block;
			width: 2.375em;
			height: 2.375em;
			border-radius: 50%;
			background-color: $c-footer-icons-bg;
			color: $c-footer-icons;
			line-height: 2.375em;
			text-align: center;

			&:hover {
				color: $c-footer-icons;
			}
		}
	}
}
