// - BASE/GRID
//-------------------------------------------------

// - CONTENTS
//-------------------------------------------------
//	- Susy ................................... 1.0.


//*********************************************
//	- 1.0 -  SUSY
//*********************************************

@import './bower_components/susy/sass/susy';

$susy: (
  columns: 12,
  gutters: 1 / 6,
  container: 90%,
  math: fluid,
  output: float,
  gutter-position: inside,
);
