@import 'components/activity-card';


.activities {

	.container {
		padding-right: 0;
		padding-left: 0;

		@include media(md) {
			padding-right: .9em;
			padding-left: .9em;
		}
	}
}

.green-section {
	background-color: $c-secondary;
}

.pink-section {
	background-color: $c-primary;

	.row {
		@include media(lg) {
			display: flex;
		}
	}
}

.green-card {
	background-color: $c-secondary;

	.activity-card__title,
	.activity-card__subtitle,
	.activity-card__description {
		color: $c-white;
	}
}

.img-1 {
	background-image: url('../img/A1.jpg');
}

.img-2 {
	background-image: url('../img/A2.jpg');
}

.img-3 {
	background-image: url('../img/A3.jpg');
}

.img-4 {
	background-image: url('../img/A4.jpg');
}

.img-5 {
	background-image: url('../img/A5.jpg');
}

.img-6 {
	background-image: url('../img/A6.jpg');
}

.remodal {

	text-align: left;

	h1,
	h2,
	h3,
	h4,
	h5 {
		color: $c-primary;
		text-transform: uppercase;
		text-align: center;
	}
}
