//------------------------------------
//    $HEADER
// ---------------------------------------------------------------------------------------------------------------

@import 'components/nav';


.filter {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: $c-shadow;
	z-index: 1;
}


// Header
// -----------------------------------------------------------------------------

.header {
	position: relative;
	width: 100%;
	min-height: 500px;
	max-height: 960px;
	background: url('../img/header.png') no-repeat center center;
	background-size: cover;
	z-index: 0;

	@include media(md) {
		height: 100%;
	}

	&--sm {
		position: relative;
		height: 180px;
		background: url('../img/header.png') no-repeat center center;
		background-size: cover;
		z-index: 0;

		@include media(md) {
			height: 320px;
		}
	}

}


// Title Styles
// -----------------------------------------------------------------------------

.title-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.title {
	margin-bottom: 0;
	color: $c-white;
	font-size: 4.5rem;
	font-weight: 900;
	letter-spacing: .2rem;
	text-align: center;
	text-shadow: .5px .5px $c-secondary,
								1px 1px $c-secondary,
								1.5px 1.5px $c-secondary,
								2px 2px $c-secondary,
								2.5px 2.5px	$c-secondary,
								3px 3px $c-secondary,
								3.5px 3.5px $c-secondary,
								4px 4px $c-secondary,
								4.5px 4.5px $c-secondary,
								5px 5px $c-secondary,
								5.5px 5.5px $c-secondary,
								6px 6px $c-secondary,
								6.5px 6.5px $c-secondary,
								7px 7px $c-secondary;
	text-transform: uppercase;

	@include media(md) {
		font-size: 6.5rem;
		line-height: 120px;
	}

	&--sm {
		margin-bottom: 0;
		color: $c-white;
		font-size: 2.25rem;
		font-weight: $fw-light;
		text-align: center;
		text-shadow: 0 2px 3px $c-shadow;
		text-transform: uppercase;

		@include media (md) {
			font-size: 3.75rem;
		}
	}
}

.subtitle {
	margin-bottom: 0;
	color: $c-secondary;
	font-size: 1.75rem;
	font-weight: $fw-light;
	text-align: center;
	text-shadow: 0 2px 3px $c-shadow;
	text-transform: uppercase;

	@include media(md) {
		font-size: 2.75rem;
	}
}


// Video
// -----------------------------------------------------------------------------

video {
	display: none;
	position: absolute;
	bottom: 0;
	width: 100%;

	@include media(md) {
		display: block;
	}
}
