@import 'utils/variables';
@import 'utils/breakpoints';
@import 'base/reset';
@import 'base/typography';
@import 'layout/grid';


// menu
// ----------------------------------------------

.menu {
	position: fixed;
	top: 0;
	right: -320px;
	bottom: 0;
	width: 320px;
	margin: 0;
	padding: 0;
	transition: all .5s ease-in-out;
	background-color: $c-white;
	z-index: 1;

	&__header {
		position: relative;
		height: 40px;
		margin: 0 auto;
		padding: 10px;
		font-size: 32px;
		line-height: 40px;
		overflow: hidden;
	}

	&__items {
		position: relative;
		width: 258px;
		// height: 100%;
		margin: 0 auto;
		transform: matrix(.8, 0, 0, .9, 40, 0);
		transition: all .5s ease-in-out;
		overflow: hidden;
		transform-origin: 0% 50% 0;

		ul {
			position: relative;
			width: 275px;
			padding: 10px 0;
			border-top: 3px solid $c-gray;
			border-bottom: 3px solid $c-gray;
			overflow: visible;
			overflow-y: scroll;
		}

		li {
			display: block;
			height: 39px;
			border-bottom: 1px solid $c-white-darker;
			font-size: 12px;
			font-weight: bold;
			letter-spacing: .12rem;
			line-height: 39px;
			text-transform: uppercase;

			li:nth-child(4) {
				border-bottom: 0;
			}
		}

		a {
			color: $c-gray-darker;
			text-decoration: none;

			&:hover {
				color: $c-primary;
			}
		}
	}
}

.icon-menu {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	margin: 10px 20px;
	color: $c-white;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}

.icon-close {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	margin: 10px 20px;
	color: $c-gray-darkest;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;

	&:hover {
		color: $c-primary;
	}
}


// menu effects

.active,
.active body {
	overflow: hidden;
}

.active section {
	transform: matrix(1, 0, 0, 1, -320, 0);
	transition: all .5s ease-in-out;
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all .5s ease-in-out;
	background: $c-black;
	opacity: 0;
	overflow: hidden;
	visibility: hidden;
	z-index: 99;
}

.active .overlay {
	transition: all .5s ease-in-out;
	opacity: .65;
	visibility: visible;
}

.active menu {
	right: 0;
	z-index: 999;

	.menu__items {
		transform: matrix(1, 0, 0, 1, 0, 0);
		transition: all .5s ease-in-out;
		transform-origin: 0% 50% 0;
	}
}


// jumbotron
// ----------------------------------------------

.jumbotron {
	position: relative;
	z-index: -1;

	&--banner {
		width: 100%;
		height: 43.5em;
		padding: 0;
		background: url('../img/RFTC-12.jpg') center center;
		background-size: cover;
		overflow: hidden;
	}

	&__video {
		display: none;
		width: 100%;

		@include media(lg) {
			display: block;
			right: 50%;
			bottom: 50%;
			width: auto;
			min-width: 100%;
			height: auto;
			min-height: 100%;
			overflow: hidden;
		}
	}

	&__container {
		position: absolute;
		top: 300px;
		width: 100%;
		color: $c-white;
		text-align: center;
		z-index: 98;

		h1 {
			margin-bottom: 0;
			color: $c-white;
			font-size: 2.75rem;
			text-align: center;
			text-shadow: 0 2px 3px $c-shadow;

			@include media(md) {
				padding: 0;
				font-size: 4rem;
		  }

			@include media(xl) {
				font-size: 6rem;
			}
		}

		p {
			margin-bottom: 0;
			color: $c-white;
			text-align: center;
			text-shadow: 0 2px 3px $c-shadow;
			text-transform: uppercase;

			@include media(md) {
				font-size: 1.25rem;
				// letter-spacing: 1.3px;
		  }

			@include media(xl) {
				font-size: 2rem;
			}
		}
	}
}


// activities
// ----------------------------------------------

.activities {
	padding: 115px 0;
	background-color: $c-white-darker;

	&__container {
		@include container;
	}
}

.activity-card {
	@include span (4);

	img {
		width: 100%;


	}

	h2 {
		color: $c-primary;
		font-size: 1.5rem;
	}
}

// parallax
// ----------------------------------------------

.parallax {
	background-color: $c-primary;

	&__image {
		height: 540px;
		background: url('../img/parallax1.jpg');
		background-size: cover;

	}

	&__container {
		@include container;
		padding: 45px 0;

		h2 {
			@include span (6);
			color: $c-white;
			font-size: 2.5em;
		}

		p {
			@include span (6);
			margin-bottom: 0;
			color: $c-white;
		}
	}
}
